<% include ./partials/header %>

<h1>
	Welcome to the Login Page!!
</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<!-- <input type="Submit" value="Login"> -->
	<button class="btn btn-success">Log In</button>
</form>

<% include ./partials/footer %>